*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: normal;
}

.page-width{
    max-width: 1600px;
    margin: auto;
}

body{
    font-family: 'Poppins', sans-serif;
    /* font-weight: 600; */
}

h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}
p.announcement-bar__message.h5 {
    font-size: 13PX;
    color: #53565A;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 600; */
    padding-bottom: 2.5px;
    word-spacing: 1PXpx;
}
.Announsment-bar-content {
    padding: 10.7px 0px;
    background: azure;
    padding-bottom: 12.9px;
}

.Announsment-bar {
    position: relative;
    z-index: 1;
}

.icon {
    width: 23.9px;
    height: 24px;
}
ul.nav-link {
    display: flex;
    /* gap: 26px; */
    padding-bottom: 2px;
    /* padding-top: 6px; */
    font-size: 16px;
    padding-left: 55px;
    padding-right: 0px;
    width: 606px;
}
.icon-bar {
    display: flex;
    gap: 14px;
}

.header-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background: azure;
    padding: 13px 2.1rem 12px 1.5rem;
    border-radius: 5px;
}
.header {
    position: sticky;
    z-index: 1;
    padding: 29px 30PX;
    padding-bottom: 0px;
    top: 0;
}

nav.navbar {
    display: flex;
    justify-content: center;
    /* width: 65px; */
    padding: 0px 125px;
}

li.nav-li {
    list-style: none;
}

.link {
    color: #435870;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.7px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 5px;
    /* opacity: 0.8; */
}

 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-bar {
    width: 100%;
    margin-top: -150px;
}
span.Announcement-text {
    font-weight: 600;
}
.header__heading-logo-wrapper {
    padding: 7.5px;
    padding-left: 6px;
    padding-bottom: 0px;
}

a.link.l3 {
    padding-left: 10px;
}
a.link.l2 {
    padding-left: 35px;
    display: flex;
    gap: 4px;
}
a.link.l3 {
    padding-left: 20.5px;
    display: flex;
    gap: 4px;
}

a.link.l4 {
    padding-left: 19px;
}
a.link.l5 {
    padding-left: 35px;
}
hr.Hr {
    opacity: 0.5;
    height: 25px;
    padding-left: -32px;
    padding-right: -43px;
    width: -29px;
}

hr.Hr1 {
    opacity: 1.9;
    height: 25px;
    padding-left: -32px;
    /* margin-right: 1px; */
    width: -29px;
}